Repository SillyTavern/SillyTavern, pull requests merged in 2024-06, with the labels that each got.

#2300 Fix syntax highlight editor
  public/css/st-tailwind.css
  public/index.html
  public/login.html
  public/scripts/autocomplete/AutoComplete.js
  public/scripts/extensions/quick-reply/html/qrEditor.html
  public/scripts/extensions/quick-reply/src/QuickReply.js
  public/scripts/extensions/quick-reply/style.css
  public/scripts/extensions/quick-reply/style.less
  public/style.css
  public/webfonts/NotoSansMono/noto-sans-mono-v30-100.woff2
  public/webfonts/NotoSansMono/noto-sans-mono-v30-200.woff2
  public/webfonts/NotoSansMono/noto-sans-mono-v30-300.woff2
  public/webfonts/NotoSansMono/noto-sans-mono-v30-500.woff2
  public/webfonts/NotoSansMono/noto-sans-mono-v30-600.woff2
  public/webfonts/NotoSansMono/noto-sans-mono-v30-700.woff2
  public/webfonts/NotoSansMono/noto-sans-mono-v30-800.woff2
  public/webfonts/NotoSansMono/noto-sans-mono-v30-900.woff2
  public/webfonts/NotoSansMono/noto-sans-mono-v30-regular.woff2
  public/webfonts/NotoSansMono/stylesheet.css
Labels: 🟨 PR - Medium

#2376 Update zh-cn.json
  public/locales/zh-cn.json
  public/scripts/extensions/assets/window.html
  public/scripts/extensions/caption/settings.html
  public/scripts/extensions/expressions/settings.html
  public/scripts/extensions/memory/settings.html
  public/scripts/extensions/quick-reply/html/qrEditor.html
  public/scripts/extensions/quick-reply/html/settings.html
  public/scripts/extensions/vectors/settings.html
Labels: 🟨 PR - Medium

#2377 Parser followup
  public/script.js
  public/scripts/autocomplete/AutoComplete.js
  public/scripts/autocomplete/AutoCompleteNameResult.js
  public/scripts/autocomplete/AutoCompleteOption.js
  public/scripts/autocomplete/AutoCompleteSecondaryNameResult.js
  public/scripts/slash-commands.js
  public/scripts/slash-commands/SlashCommand.js
  public/scripts/slash-commands/SlashCommandArgument.js
  public/scripts/slash-commands/SlashCommandAutoCompleteNameResult.js
  public/scripts/slash-commands/SlashCommandClosure.js
  public/scripts/slash-commands/SlashCommandEnumAutoCompleteOption.js
  public/scripts/slash-commands/SlashCommandEnumValue.js
  public/scripts/slash-commands/SlashCommandParser.js
  public/scripts/slash-commands/SlashCommandScope.js
  public/scripts/tags.js
  public/scripts/variables.js
  public/scripts/world-info.js
  public/style.css
Labels: 🟨 PR - Medium

#2374 More localizable texts
  public/index.html
  public/locales/ru-ru.json
  public/script.js
  public/scripts/extensions/regex/dropdown.html
  public/scripts/extensions/translate/buttons.html
  public/scripts/extensions/translate/deleteConfirmation.html
  public/scripts/extensions/translate/index.html
  public/scripts/extensions/translate/index.js
  public/scripts/openai.js
  public/scripts/templates/customEndpointAdditionalParameters.html
  public/scripts/templates/formatting.html
  public/scripts/templates/help.html
  public/scripts/templates/hotkeys.html
  public/scripts/templates/macros.html
Labels: 🟥 PR - XL

#2385 Update zh-cn.json
  public/locales/ru-ru.json
  public/locales/zh-cn.json
  public/scripts/templates/macros.html
Labels: 🟨 PR - Medium, 🌐 Language

#2381 periodically calls the tts module when a paragraph has been generated
  public/scripts/extensions/tts/index.js
Labels: 🟩 PR - Small

#2330 Smol tag improvements & Huuuuuge popup/dialog rework (heh)
  public/css/animations.css
  public/css/logprobs.css
  public/css/popup.css
  public/css/select2-overrides.css
  public/css/st-tailwind.css
  public/css/tags.css
  public/index.html
  public/locales/ar-sa.json
  public/locales/de-de.json
  public/locales/es-es.json
  public/locales/fr-fr.json
  public/locales/is-is.json
  public/locales/it-it.json
  public/locales/ja-jp.json
  public/locales/ko-kr.json
  public/locales/nl-nl.json
  public/locales/pt-pt.json
  public/locales/ru-ru.json
  public/locales/uk-ua.json
  public/locales/vi-vn.json
  public/locales/zh-cn.json
  public/locales/zh-tw.json
  public/script.js
  public/scripts/RossAscends-mods.js
  public/scripts/autocomplete/AutoComplete.js
  public/scripts/bulk-edit.js
  public/scripts/chats.js
  public/scripts/dragdrop.js
  public/scripts/dynamic-styles.js
  public/scripts/extensions.js
  public/scripts/extensions/gallery/index.js
  public/scripts/extensions/quick-reply/style.css
  public/scripts/extensions/quick-reply/style.less
  public/scripts/group-chats.js
  public/scripts/keyboard.js
  public/scripts/popup.js
  public/scripts/tags.js
  public/scripts/utils.js
  public/style.css
Labels: 🟥 PR - XL

#2406 Gray out bogus folders if they don't drill down
  public/index.html
  public/script.js
  public/scripts/tags.js
  public/style.css
Labels: 🟩 PR - Small

#2405 Tag import setting
  public/index.html
  public/script.js
  public/scripts/popup.js
  public/scripts/power-user.js
  public/scripts/tags.js
  public/scripts/templates/charTagImport.html
Labels: 🟨 PR - Medium

#2410 Inline image enlarge rework
  public/css/popup.css
  public/index.html
  public/script.js
  public/scripts/chats.js
  public/scripts/popup.js
  public/style.css
Labels: 🟨 PR - Medium, 💄 Stylistic Changes

#2403 Expand slash commands with enums/enum providers
  public/jsconfig.json
  public/script.js
  public/scripts/authors-note.js
  public/scripts/autocomplete/AutoComplete.js
  public/scripts/autocomplete/AutoCompleteOption.js
  public/scripts/backgrounds.js
  public/scripts/extensions/attachments/index.js
  public/scripts/extensions/caption/index.js
  public/scripts/extensions/expressions/index.js
  public/scripts/extensions/gallery/index.js
  public/scripts/extensions/memory/index.js
  public/scripts/extensions/quick-reply/src/SlashCommandHandler.js
  public/scripts/extensions/regex/engine.js
  public/scripts/extensions/regex/index.js
  public/scripts/extensions/stable-diffusion/index.js
  public/scripts/extensions/token-counter/index.js
  public/scripts/extensions/tts/index.js
  public/scripts/group-chats.js
  public/scripts/openai.js
  public/scripts/power-user.js
  public/scripts/preset-manager.js
  public/scripts/scrapers.js
  public/scripts/slash-commands.js
  public/scripts/slash-commands/SlashCommand.js
  public/scripts/slash-commands/SlashCommandArgument.js
  public/scripts/slash-commands/SlashCommandClosure.js
  public/scripts/slash-commands/SlashCommandCommonEnumsProvider.js
  public/scripts/slash-commands/SlashCommandEnumValue.js
  public/scripts/slash-commands/SlashCommandParser.js
  public/scripts/tags.js
  public/scripts/variables.js
  public/scripts/world-info.js
  public/style.css
Labels: 🟥 PR - XL

#2408 Timed Effects for World Info
  public/index.html
  public/scripts/world-info.js
  src/endpoints/characters.js
Labels: 🟨 PR - Medium, ✨ New Feature

#2421 Add simple custom macros registration
  public/script.js
  public/scripts/macros.js
Labels: 🟩 PR - Small

#2425 Add WI entry delay
  public/index.html
  public/scripts/world-info.js
  src/endpoints/characters.js
Labels: 🟩 PR - Small

#2426 Move uploads to data root
  .dockerignore
  .npmignore
  server.js
  src/constants.js
  src/endpoints/avatars.js
  src/endpoints/backgrounds.js
  src/endpoints/characters.js
  src/endpoints/chats.js
  src/endpoints/sprites.js
  src/endpoints/worldinfo.js
Labels: 🟩 PR - Small

#2427 More popups
  public/css/popup.css
  public/index.html
  public/script.js
  public/scripts/RossAscends-mods.js
  public/scripts/bookmarks.js
  public/scripts/popup.js
  public/scripts/power-user.js
  public/scripts/tags.js
  public/scripts/templates/charTagImport.html
  public/style.css
Labels: 🟨 PR - Medium, 🚚 Refactor

#2430 Improve logs (+add toasts) on save calls
  public/script.js
  public/scripts/bookmarks.js
  public/scripts/extensions/quick-reply/src/QuickReplySet.js
  public/scripts/group-chats.js
  public/scripts/openai.js
  public/scripts/power-user.js
  public/scripts/preset-manager.js
  public/scripts/slash-commands.js
Labels: 🚚 Refactor, 🟩 PR - Small

#2431 Remove slash command var usages
  public/scripts/extensions/memory/index.js
  public/scripts/extensions/regex/index.js
  public/scripts/extensions/stable-diffusion/index.js
  public/scripts/slash-commands.js
Labels: 🟩 PR - Small

#2435 Remove variable usage of 'at' arg in send commands
  public/scripts/slash-commands.js
Labels: 🚚 Refactor, 🟩 PR - Small

#2439 TTS: Add support for VITS/W2V2-VITS/Bert-VITS2
  public/scripts/extensions/tts/index.js
  public/scripts/extensions/tts/vits.js
Labels: 🟨 PR - Medium

#2437 Add optional args to /echo command
  public/scripts/slash-commands.js
Labels: 🟩 PR - Small

#2438 Various commands with 'at' support depth values
  public/scripts/slash-commands.js
Labels: 🟩 PR - Small

#2436 Translation improvements
  public/script.js
  public/scripts/i18n.js
Labels: 🌐 Language, 🟩 PR - Small

#2445 Prevent concurrent execution of initVoiceMap
  public/scripts/extensions/tts/index.js
Labels: 🟩 PR - Small

#2449 Loader overlay improvements & Popup.complete async
  public/css/loader.css
  public/css/popup.css
  public/script.js
  public/scripts/extensions.js
  public/scripts/loader.js
  public/scripts/popup.js
  public/scripts/slash-commands.js
Labels: 🦋 Bug Fix, 🟩 PR - Small, ✨ New Feature

#2448 Fix extension update opening popup twice
  public/scripts/extensions.js
Labels: 🦋 Bug Fix, 🟩 PR - Small
