Repository SillyTavern/SillyTavern, pull requests merged in 2024-09, with the labels that each got.

#2744 Fix "hidden" block in char list messing up scroll
  public/style.css
Labels: 🦋 Bug Fix, 🟩 PR - Small, 👷 Maintainer, 💄 Stylistic Changes

#2752 Fix deleting of swipe being inconsistent via button, matching the `delswipe` slash command now
  public/script.js
  public/scripts/slash-commands.js
Labels: 🦋 Bug Fix, 👷 Maintainer, 📜 STscript, 🌟 UX

#2776 Fix the fix (fix fancy click target)
  public/scripts/world-info.js
Labels: 🦋 Bug Fix, 🟩 PR - Small, 🗺️ World Info

#2796 Update slash-commands.js
  public/scripts/slash-commands.js
Labels: 📕 Docs, 🟩 PR - Small, 📜 STscript
