Repository SillyTavern/SillyTavern, pull requests merged in 2024-07, with the labels that each got.

#2453 Make input popups respect "Enter to Send" setting
  public/scripts/popup.js
Labels: 🟩 PR - Small

#2450 Augment Edit Box Input Enfasterment
  public/script.js
  public/scripts/constants.js
Labels: 🟩 PR - Small

#2465 /stop slash command to stop generation
  public/script.js
  public/scripts/slash-commands.js
Labels: 🟩 PR - Small

#2459 Improve ja-jp translation
  public/locales/ja-jp.json
Labels: 🌐 Language, 🟩 PR - Small

#2462 Validate story string about missing fields
  public/scripts/power-user.js
Labels: 🟩 PR - Small

#2470 Changes the name of the `Absolute` label for Position within Prompt Manager's edit screen to `In-chat`
  public/index.html
  public/locales/ar-sa.json
  public/locales/de-de.json
  public/locales/es-es.json
  public/locales/is-is.json
  public/locales/it-it.json
  public/locales/ja-jp.json
  public/locales/ko-kr.json
  public/locales/pt-pt.json
  public/locales/ru-ru.json
  public/locales/uk-ua.json
  public/locales/vi-vn.json
  public/locales/zh-cn.json
  public/locales/zh-tw.json
Labels: 🟩 PR - Small, 💄 Stylistic Changes

#2474 Tweaks to activateNaturalOrder
  public/scripts/group-chats.js
Labels: 🟩 PR - Small, ✨ Feature Changes

#2475 Fix trim macro breaking on CRLF
  public/scripts/macros.js
Labels: 🦋 Bug Fix, 🟩 PR - Small, 🔬 Needs Testing

#2469 Adding display of queued speakers in group chat windows.
  public/css/rm-groups.css
  public/index.html
  public/scripts/group-chats.js
  public/scripts/power-user.js
  public/style.css
Labels: 🟩 PR - Small, ✨ New Feature, 💄 Stylistic Changes

#2471 Stable image from StabilityAI api
  public/scripts/extensions/stable-diffusion/index.js
  public/scripts/extensions/stable-diffusion/settings.html
  public/scripts/secrets.js
  src/endpoints/secrets.js
  src/endpoints/stable-diffusion.js
Labels: 🟨 PR - Medium, ✨ New Feature

#2468 Fix min activations for non-recursable entries
  public/scripts/world-info.js
Labels: 🦋 Bug Fix, 🚚 Refactor, 🟩 PR - Small, 🔬 Needs Testing

#2477 Add instruct/context for Gemma 2
  default/content/index.json
  default/content/presets/context/Gemma 2.json
  default/content/presets/instruct/Gemma 2.json
Labels: 🟩 PR - Small, ⚙️ Preset

#2480 Implement toggle for User/Char name searching in world info
  default/content/settings.json
  public/index.html
  public/script.js
  public/scripts/world-info.js
Labels: 🟩 PR - Small, ✨ New Feature

#2428 Add a token counting endpoint for vLLM
  public/scripts/tokenizers.js
  src/endpoints/tokenizers.js
Labels: 🟩 PR - Small

#2485 Adding diff functionality to prompt dialog
  .eslintrc.js
  public/index.html
  public/lib/diff_match_patch.js
  public/script.js
  public/scripts/templates/itemizationChat.html
  public/scripts/templates/itemizationText.html
Labels: 🟩 PR - Small, ✨ New Feature

#2489 Add tabbyAPI model downloader
  public/index.html
  public/scripts/templates/tabbyDownloader.html
  public/scripts/textgen-models.js
  src/endpoints/backends/text-completions.js
Labels: 🟨 PR - Medium, ✨ New Feature, 🏭 Backend Changes

#2492 Add Gemma 2 9b to available Groq models
  public/index.html
  public/scripts/openai.js
Labels: 🟩 PR - Small, 🤖 API / Model

#2486 Fix package-lock.json
  package-lock.json
Labels: 🟨 PR - Medium, 🛠️ Build Changes

#2494 Added /continue "await" arg
  public/scripts/slash-commands.js
Labels: 🟩 PR - Small, ✨ New Feature, 📜 STscript

#2495 Fix transformers model changes
  src/transformers.mjs
Labels: 🟩 PR - Small, 🏭 Backend Changes

#2503 Move locale file load awaits into its init function
  public/scripts/i18n.js
Labels: 🚚 Refactor, 🟩 PR - Small

#2504 Extensions & Assets UI updates - More info, tooltips & helpful guides
  public/css/animations.css
  public/scripts/extensions/assets/confirm.html
  public/scripts/extensions/assets/index.js
  public/scripts/extensions/assets/style.css
  public/scripts/extensions/assets/window.html
  public/scripts/utils.js
  public/style.css
Labels: 📕 Docs, 🟩 PR - Small, 💄 Stylistic Changes

#2508 Includes captioning error messages in toast
  public/scripts/extensions/caption/index.js
Labels: 🟩 PR - Small, ➕ Extension, 🌱 Minor Changes

#2509 Preset manager popups
  public/scripts/preset-manager.js
Labels: 🚚 Refactor, 🟩 PR - Small

#2510 ask user to confirm proxy connections
  public/scripts/openai.js
Labels: 🟩 PR - Small, ⚙️ Preset

#2518 Update presets
  default/content/presets/textgen/Asterism.json
  default/content/presets/textgen/Beam Search.json
  default/content/presets/textgen/Big O.json
  default/content/presets/textgen/Contrastive Search.json
  default/content/presets/textgen/Default.json
  default/content/presets/textgen/Deterministic.json
  default/content/presets/textgen/Divine Intellect.json
  default/content/presets/textgen/Kobold (Godlike).json
  default/content/presets/textgen/Kobold (Liminal Drift).json
  default/content/presets/textgen/LLaMa-Precise.json
  default/content/presets/textgen/Midnight Enigma.json
  default/content/presets/textgen/Miro Bronze.json
  default/content/presets/textgen/Miro Gold.json
  default/content/presets/textgen/Miro Silver.json
  default/content/presets/textgen/Mirostat.json
  default/content/presets/textgen/Naive.json
  default/content/presets/textgen/NovelAI (Best Guess).json
  default/content/presets/textgen/NovelAI (Decadence).json
  default/content/presets/textgen/NovelAI (Genesis).json
  default/content/presets/textgen/NovelAI (Lycaenidae).json
  default/content/presets/textgen/NovelAI (Ouroboros).json
  default/content/presets/textgen/NovelAI (Pleasing Results).json
  default/content/presets/textgen/NovelAI (Sphinx Moth).json
  default/content/presets/textgen/NovelAI (Storywriter).json
  default/content/presets/textgen/Shortwave.json
  default/content/presets/textgen/Simple-1.json
  default/content/presets/textgen/Space Alien.json
  default/content/presets/textgen/StarChat.json
  default/content/presets/textgen/TFS-with-Top-A.json
  default/content/presets/textgen/Titanic.json
  default/content/presets/textgen/Universal-Creative.json
  default/content/presets/textgen/Universal-Light.json
  default/content/presets/textgen/Universal-Super-Creative.json
  default/content/presets/textgen/Yara.json
  default/content/presets/textgen/simple-proxy-for-tavern.json
  default/content/settings.json
  public/scripts/preset-manager.js
Labels: 🚚 Refactor, 🟥 PR - XL, ⚙️ Preset

#2521 Update most char submenu popups to new popup
  public/index.html
  public/script.js
  public/scripts/personas.js
  public/scripts/templates/scenarioOverride.html
Labels: 🚚 Refactor, 🟩 PR - Small, 👷 Maintainer

#2502 Enable DRY for koboldcpp
  public/index.html
Labels: 🟩 PR - Small, ⚙️ Preset

#2479 WI scan refactoring: Extended logging, updated code flow, changed Min Activations
  public/scripts/world-info.js
Labels: 🟨 PR - Medium, 🚚 Refactor, 👷 Maintainer, 🔬 Needs Testing

#2512 CCv3 Partial Implementation
  public/scripts/macros.js
  public/scripts/templates/macros.html
  public/scripts/world-info.js
  src/character-card-parser.js
  src/endpoints/characters.js
Labels: 🟩 PR - Small, 🏭 Backend Changes, 🗺️ World Info

#2520 Fix popup onClosing handling not working correctly
  public/scripts/popup.js
Labels: 🦋 Bug Fix, 🟩 PR - Small, 👷 Maintainer

#2530 Add gpt-4o-mini
  public/index.html
  public/scripts/extensions/caption/settings.html
  public/scripts/openai.js
Labels: 🟩 PR - Small, 👷 Maintainer, 🤖 API / Model

#2540 Adds "chatvar" aliases & "length" alias
  public/scripts/slash-commands.js
  public/scripts/variables.js
Labels: 🟩 PR - Small, 📜 STscript, 🌱 Minor Changes

#2541 WI update "Order" from custom sorting button
  public/index.html
  public/scripts/world-info.js
Labels: 🟩 PR - Small, 👷 Maintainer, ✨ New Feature, 🗺️ World Info

#2542 World Info: slash commands performance improvements
  public/scripts/util/StructuredCloneMap.js
  public/scripts/utils.js
  public/scripts/world-info.js
Labels: 🟨 PR - Medium, 🚚 Refactor, 👷 Maintainer, 🗺️ World Info, 🚄 Performance

#2546 Improve auto-scroll snapping
  public/script.js
Labels: 🟩 PR - Small, 👷 Maintainer, ✨ Feature Changes

#2547 Update ru-ru locale
  public/locales/ru-ru.json
  public/scripts/extensions/assets/window.html
Labels: 🌐 Language, 🟩 PR - Small

#2553 Fix /send not saving chat in all cases
  public/script.js
Labels: 🦋 Bug Fix, 🟩 PR - Small, 📜 STscript

#2554 Minor group chat timestamp fix
  public/scripts/bookmarks.js
Labels: 🦋 Bug Fix, 🟩 PR - Small, 🌱 Minor Changes

#2555 Timestamp Fixes & Refactoring
  public/scripts/RossAscends-mods.js
  public/scripts/utils.js
Labels: 🦋 Bug Fix, 🚚 Refactor, 🟩 PR - Small

#2559 Improve Mistral prompt conversion
  src/endpoints/backends/chat-completions.js
  src/prompt-converters.js
Labels: 🟩 PR - Small, 👷 Maintainer, 🤖 API / Model

#2562 Use dvh/dvw units in CSS
  public/css/character-group-overlay.css
  public/css/loader.css
  public/css/logprobs.css
  public/css/mobile-styles.css
  public/css/popup-safari-fix.css
  public/css/popup.css
  public/css/toggle-dependent.css
  public/scripts/extensions/quick-reply/style.css
  public/scripts/extensions/quick-reply/style.less
  public/style.css
Labels: 🟨 PR - Medium, 👷 Maintainer, 💄 Stylistic Changes

#2560 Dupe persona
  public/index.html
  public/scripts/personas.js
  public/scripts/popup.js
  public/style.css
Labels: 🟩 PR - Small, 👷 Maintainer, ✨ New Feature

#2563 refactor: timestampToMoment, parseTimestamp
  public/scripts/utils.js
Labels: 🚚 Refactor, 🟩 PR - Small, 🌱 Minor Changes

#2415 Parser followup 2
  public/img/step-into.svg
  public/img/step-out.svg
  public/img/step-over.svg
  public/img/step-resume.svg
  public/index.html
  public/scripts/autocomplete/AutoComplete.js
  public/scripts/autocomplete/AutoCompleteNameResult.js
  public/scripts/autocomplete/AutoCompleteNameResultBase.js
  public/scripts/autocomplete/AutoCompleteOption.js
  public/scripts/autocomplete/AutoCompleteSecondaryNameResult.js
  public/scripts/extensions/quick-reply/api/QuickReplyApi.js
  public/scripts/extensions/quick-reply/html/qrEditor.html
  public/scripts/extensions/quick-reply/html/settings.html
  public/scripts/extensions/quick-reply/index.js
  public/scripts/extensions/quick-reply/lib/morphdom-esm.js
  public/scripts/extensions/quick-reply/lib/morphdom.LICENSE.txt
  public/scripts/extensions/quick-reply/src/QuickReply.js
  public/scripts/extensions/quick-reply/src/QuickReplyConfig.js
  public/scripts/extensions/quick-reply/src/QuickReplySet.js
  public/scripts/extensions/quick-reply/src/QuickReplySetLink.js
  public/scripts/extensions/quick-reply/src/SlashCommandHandler.js
  public/scripts/extensions/quick-reply/src/ui/SettingsUi.js
  public/scripts/extensions/quick-reply/src/ui/ctx/ContextMenu.js
  public/scripts/extensions/quick-reply/src/ui/ctx/MenuHeader.js
  public/scripts/extensions/quick-reply/src/ui/ctx/MenuItem.js
  public/scripts/extensions/quick-reply/style.css
  public/scripts/extensions/quick-reply/style.less
  public/scripts/popup.js
  public/scripts/power-user.js
  public/scripts/slash-commands.js
  public/scripts/slash-commands/SlashCommand.js
  public/scripts/slash-commands/SlashCommandArgument.js
  public/scripts/slash-commands/SlashCommandAutoCompleteNameResult.js
  public/scripts/slash-commands/SlashCommandBreak.js
  public/scripts/slash-commands/SlashCommandBreakController.js
  public/scripts/slash-commands/SlashCommandBreakPoint.js
  public/scripts/slash-commands/SlashCommandClosure.js
  public/scripts/slash-commands/SlashCommandClosureExecutor.js
  public/scripts/slash-commands/SlashCommandClosureResult.js
  public/scripts/slash-commands/SlashCommandCommonEnumsProvider.js
  public/scripts/slash-commands/SlashCommandDebugController.js
  public/scripts/slash-commands/SlashCommandEnumAutoCompleteOption.js
  public/scripts/slash-commands/SlashCommandEnumValue.js
  public/scripts/slash-commands/SlashCommandExecutionError.js
  public/scripts/slash-commands/SlashCommandExecutor.js
  public/scripts/slash-commands/SlashCommandParser.js
  public/scripts/slash-commands/SlashCommandScope.js
  public/scripts/utils.js
  public/scripts/variables.js
  public/style.css
Labels: 🦋 Bug Fix, 🟥 PR - XL, ✨ New Feature, ✨ Feature Changes, 🔬 Needs Testing, ➕ Extension, 📜 STscript, 💥💣 Breaking Changes
