Repository SillyTavern/SillyTavern, pull requests merged in 2024-05, with the labels that each got.

#2205 move expression buttons above Sprite set
  public/scripts/extensions/expressions/settings.html
Labels: 🟩 PR - Small

#2204 impl `{{char_version}}`
  public/script.js
  public/scripts/templates/macros.html
Labels: 🟩 PR - Small

#1965 STscript Parser Rewrite
  public/index.html
  public/script.js
  public/scripts/RossAscends-mods.js
  public/scripts/authors-note.js
  public/scripts/autocomplete/AutoComplete.js
  public/scripts/autocomplete/AutoCompleteFuzzyScore.js
  public/scripts/autocomplete/AutoCompleteNameResult.js
  public/scripts/autocomplete/AutoCompleteOption.js
  public/scripts/autocomplete/AutoCompleteSecondaryNameResult.js
  public/scripts/autocomplete/BlankAutoCompleteOption.js
  public/scripts/autocomplete/MacroAutoCompleteOption.js
  public/scripts/backgrounds.js
  public/scripts/extensions/attachments/index.js
  public/scripts/extensions/caption/index.js
  public/scripts/extensions/expressions/index.js
  public/scripts/extensions/gallery/index.js
  public/scripts/extensions/memory/index.js
  public/scripts/extensions/quick-reply/html/qrEditor.html
  public/scripts/extensions/quick-reply/index.js
  public/scripts/extensions/quick-reply/src/QuickReply.js
  public/scripts/extensions/quick-reply/src/QuickReplySet.js
  public/scripts/extensions/quick-reply/src/SlashCommandHandler.js
  public/scripts/extensions/quick-reply/style.css
  public/scripts/extensions/quick-reply/style.less
  public/scripts/extensions/regex/index.js
  public/scripts/extensions/stable-diffusion/index.js
  public/scripts/extensions/token-counter/index.js
  public/scripts/extensions/tts/index.js
  public/scripts/group-chats.js
  public/scripts/openai.js
  public/scripts/power-user.js
  public/scripts/preset-manager.js
  public/scripts/slash-commands.js
  public/scripts/slash-commands/SlashCommand.js
  public/scripts/slash-commands/SlashCommandAbortController.js
  public/scripts/slash-commands/SlashCommandArgument.js
  public/scripts/slash-commands/SlashCommandAutoCompleteNameResult.js
  public/scripts/slash-commands/SlashCommandBrowser.js
  public/scripts/slash-commands/SlashCommandClosure.js
  public/scripts/slash-commands/SlashCommandClosureExecutor.js
  public/scripts/slash-commands/SlashCommandClosureResult.js
  public/scripts/slash-commands/SlashCommandCommandAutoCompleteOption.js
  public/scripts/slash-commands/SlashCommandEnumAutoCompleteOption.js
  public/scripts/slash-commands/SlashCommandEnumValue.js
  public/scripts/slash-commands/SlashCommandExecutor.js
  public/scripts/slash-commands/SlashCommandNamedArgumentAssignment.js
  public/scripts/slash-commands/SlashCommandNamedArgumentAutoCompleteOption.js
  public/scripts/slash-commands/SlashCommandParser.js
  public/scripts/slash-commands/SlashCommandParserError.js
  public/scripts/slash-commands/SlashCommandQuickReplyAutoCompleteOption.js
  public/scripts/slash-commands/SlashCommandScope.js
  public/scripts/slash-commands/SlashCommandUnnamedArgumentAssignment.js
  public/scripts/slash-commands/SlashCommandVariableAutoCompleteOption.js
  public/scripts/templates/macros.html
  public/scripts/variables.js
  public/scripts/world-info.js
  public/style.css
Labels: 🟧 PR - Large

#2230 Update ko-kr.json
  public/locales/ko-kr.json
Labels: 🌐 Language, 🟩 PR - Small

#2229 WI entry setting "Delay until recursion"
  public/index.html
  public/scripts/char-data.js
  public/scripts/world-info.js
  src/endpoints/characters.js
Labels: 🟩 PR - Small

#2246 Tag folders folder filter
  public/css/tags.css
  public/script.js
  public/scripts/filters.js
  public/scripts/tags.js
Labels: 🟩 PR - Small

#2200 WI regex keys
  public/css/select2-overrides.css
  public/css/world-info.css
  public/index.html
  public/scripts/utils.js
  public/scripts/world-info.js
  public/style.css
Labels: 🟧 PR - Large

#2233 feat: add default tip to welcome screen
  public/locales/es-es.json
  public/scripts/templates/welcome.html
Labels: 🟩 PR - Small

#2258 Add slash commands for tag management
  public/css/tags.css
  public/scripts/tags.js
  public/style.css
Labels: 🟨 PR - Medium

#2264 fix: correct usage of fuzzy search in emotion detection by LLM
  public/scripts/extensions/expressions/index.js
Labels: 🦋 Bug Fix, 🟩 PR - Small

#1930 Adapting a TTS API for the GSVI (GPT-SoVits Inference) Project
  public/scripts/extensions/tts/gsvi.js
  public/scripts/extensions/tts/index.js
Labels: 🟨 PR - Medium

#2224 Onboarding language switch, more localizable strings, work on ru-ru translation
  public/index.html
  public/locales/ru-ru.json
  public/script.js
  public/scripts/extensions/assets/market.html
  public/scripts/i18n.js
  public/scripts/popup.js
  public/scripts/templates/importCharacters.html
  public/scripts/templates/snapshotsView.html
  public/scripts/templates/userProfile.html
  public/scripts/templates/welcome.html
Labels: 🟨 PR - Medium

#2211 Add DRY Samplers to ST Staging
  public/index.html
  public/scripts/power-user.js
  public/scripts/textgen-settings.js
Labels: 🟩 PR - Small, 📌 Keep Open
