Repository SillyTavern/SillyTavern, pull requests merged in 2025-02, with the labels that each got.

#3437 Add new gemini models
  public/index.html
Labels: 🟩 PR - Small, 👷 Maintainer, 🤖 API / Model

#3434 Add new gemini models and update the safety settings
  public/index.html
  public/scripts/extensions/caption/settings.html
  public/scripts/openai.js
  src/constants.js
  src/endpoints/backends/chat-completions.js
  src/prompt-converters.js
Labels: 🟩 PR - Small, 🏭 Backend Changes, 🤖 API / Model

#3450 Fix top_k text value not being able to go up to 500, like the slider does
  public/index.html
Labels: 🦋 Bug Fix, 🟩 PR - Small, 🌱 Minor Changes

#3468 Fix kr i18n
  public/locales/ko-kr.json
Labels: 🌐 Language, 🟩 PR - Small

#3539 Update zh-tw.json
  public/locales/zh-tw.json
Labels: 🌐 Language, 🟩 PR - Small
