Repository SillyTavern/SillyTavern, pull requests merged in 2025-03, with the labels that each got.

#3678 Update github workflows for better issue & PR management, automating chores
  .github/ISSUE_TEMPLATE/bug-report.yml
  .github/ISSUE_TEMPLATE/feature-request.yml
  .github/close-label.yml
  .github/issue-auto-comments.yml
  .github/issues-auto-comments.yml
  .github/issues-auto-labels.yml
  .github/pr-auto-comments.yml
  .github/pr-auto-labels-by-branch.yml
  .github/pr-auto-labels-by-files.yml
  .github/workflows/add-comment-from-tag.yml
  .github/workflows/check-merge-conflicts.yml
  .github/workflows/close-stale-issues.yml
  .github/workflows/get-pr-size.yml
  .github/workflows/issues-auto-manager.yml
  .github/workflows/issues-updates-on-merge.yml
  .github/workflows/job-close-stale.yml
  .github/workflows/labeler.yml
  .github/workflows/manage-pending-labels-closed.yml
  .github/workflows/manage-pending-labels.yml
  .github/workflows/on-close-handler.yml
  .github/workflows/on-open-handler.yml
  .github/workflows/pr-auto-manager.yml
  .github/workflows/pr-check-merge-conflicts.yaml
Labels: 🚚 Refactor, 🟥 ⬤⬤⬤⬤⬤, 🛠️ Build Changes, ✨ Feature Changes

#3719 Fixing GitHub Workflows - again (maybe this time it works)
  .github/issues-auto-labels.yml
  .github/pr-auto-labels-by-branch.yml
  .github/workflows/issues-auto-manager.yml
  .github/workflows/issues-updates-on-merge.yml
  .github/workflows/job-close-stale.yml
  .github/workflows/on-close-handler.yml
  .github/workflows/on-open-handler.yml
  .github/workflows/pr-auto-manager.yml
  .github/workflows/pr-check-merge-conflicts.yaml
Labels: 🦋 Bug Fix, 🟩 ⬤⬤○○○, 👷 Maintainer, 🛠️ Build Changes

#3761 chore: make layer updates exportable
  public/scripts/extensions/expressions/index.js
Labels: 🚚 Refactor, ➕ Extension, 🌱 Minor Changes, 🟩 ⬤○○○○
